__pycache__/
.Python
.venv/
venv/
.env
.python-version
.mypy_cache/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
data/processed/*.pkl
data/processed/*.csv
.idea/
.vscode/
*.log
*.tmp
.cache/
/report/images/*.png
/models/*.pkl